__pycache___
__pycache__/
runs
omniisaacgymenvs.egg-info/
checkpoints
omniisaacgymenvs/wandb
omniisaacgymenvs/assets/*
omniisaacgymenvs/NvStreamer-LinuxEventTrace-*
omniisaacgymenvs/FishingRodPos_X_020_real_pos/
omniisaacgymenvs/FishingRodPos_X_022_real_pos_vel/
omniisaacgymenvs/FishingRodPos_X_023_real_pos_vel_noise_KD/
omniisaacgymenvs/FishingRodPos_X_026_real_pos_vel_noise_KD_mass/
omniisaacgymenvs/SoftlegJump040_target12/
omniisaacgymenvs/cfg/task/FishingRod.yaml
omniisaacgymenvs/cfg/task/SoftlegJump.yaml
omniisaacgymenvs/cfg/task/SoftlegJumpQuattro.yaml
omniisaacgymenvs/cfg/task/SoftlegJumpTre.yaml
omniisaacgymenvs/cfg/train/FishingRodPPO.yaml
omniisaacgymenvs/cfg/train/SoftlegJumpPPO.yaml
omniisaacgymenvs/cfg/train/SoftlegJumpQuattroPPO.yaml
omniisaacgymenvs/cfg/train/SoftlegJumpTrePPO.yaml
omniisaacgymenvs/envs/vec_env_rlgames copy.py
omniisaacgymenvs/last_FishingRodPos_X_024_real_pos_vel_noise_KD_ep_2500_rew_370.875/
omniisaacgymenvs/last_FishingRodPos_X_027_real_pos_vel_noise_KD_mass_KD_PD_ep_1850_rew_393.22308/
omniisaacgymenvs/tasks/fishing_rod.py
omniisaacgymenvs/tasks/fishing_rod_real.py
omniisaacgymenvs/tasks/softleg_jump.py
omniisaacgymenvs/tasks/softleg_jump_quattro.py
omniisaacgymenvs/tasks/softleg_jump_tre.py
plot_after_training
isaacgym_use.txt
wrap_up_softleg_jump.txt
time_stepping.txt

