__pycache___
__pycache__/
runs
omniisaacgymenvs/.vscode
omniisaacgymenvs.egg-info/
checkpoints
omniisaacgymenvs/wandb
omniisaacgymenvs/assets/*
omniisaacgymenvs/NvStreamer-LinuxEventTrace-*
omniisaacgymenvs/FishingRodPos_X_020_real_pos/
omniisaacgymenvs/FishingRodPos_X_022_real_pos_vel/
omniisaacgymenvs/FishingRodPos_X_023_real_pos_vel_noise_KD/
omniisaacgymenvs/FishingRodPos_X_026_real_pos_vel_noise_KD_mass/
omniisaacgymenvs/SoftlegJump040_target12/
omniisaacgymenvs/cfg/task/FishingRod.yaml
omniisaacgymenvs/cfg/task/SoftlegJump.yaml
omniisaacgymenvs/cfg/task/SoftlegJumpQuattro.yaml
omniisaacgymenvs/cfg/task/SoftlegJumpTre.yaml
omniisaacgymenvs/cfg/train/FishingRodPPO.yaml
omniisaacgymenvs/cfg/train/SoftlegJumpPPO.yaml
omniisaacgymenvs/cfg/train/SoftlegJumpQuattroPPO.yaml
omniisaacgymenvs/cfg/train/SoftlegJumpTrePPO.yaml
omniisaacgymenvs/envs/vec_env_rlgames copy.py
omniisaacgymenvs/last_FishingRodPos_X_024_real_pos_vel_noise_KD_ep_2500_rew_370.875/
omniisaacgymenvs/last_FishingRodPos_X_027_real_pos_vel_noise_KD_mass_KD_PD_ep_1850_rew_393.22308/
omniisaacgymenvs/tasks/fishing_rod.py
omniisaacgymenvs/tasks/fishing_rod_real.py
omniisaacgymenvs/tasks/softleg_jump.py
omniisaacgymenvs/tasks/softleg_jump_quattro.py
omniisaacgymenvs/tasks/softleg_jump_tre.py
plot_after_training
isaacgym_use.txt
wrap_up_softleg_jump.txt
time_stepping.txt
VERSION
apps/
config/
data/
docker/
docs/
omniisaacgymenvs/cfg/task/AntSAC.yaml
omniisaacgymenvs/cfg/task/CartpoleCamera.yaml
omniisaacgymenvs/cfg/task/FactoryBase.yaml
omniisaacgymenvs/cfg/task/FactoryEnvNutBolt.yaml
omniisaacgymenvs/cfg/task/FactoryTaskNutBoltPick.yaml
omniisaacgymenvs/cfg/task/FactoryTaskNutBoltPlace.yaml
omniisaacgymenvs/cfg/task/FactoryTaskNutBoltScrew.yaml
omniisaacgymenvs/cfg/task/FrankaDeformable.yaml
omniisaacgymenvs/cfg/task/HumanoidSAC.yaml
omniisaacgymenvs/cfg/task/TargetFollowing.yaml
omniisaacgymenvs/cfg/train/AntSAC.yaml
omniisaacgymenvs/cfg/train/CartpoleCameraPPO.yaml
omniisaacgymenvs/cfg/train/FactoryTaskNutBoltPickPPO.yaml
omniisaacgymenvs/cfg/train/FactoryTaskNutBoltPlacePPO.yaml
omniisaacgymenvs/cfg/train/FactoryTaskNutBoltScrewPPO.yaml
omniisaacgymenvs/cfg/train/FrankaDeformablePPO.yaml
omniisaacgymenvs/cfg/train/HumanoidSAC.yaml
omniisaacgymenvs/cfg/train/TargetFollowingPPO.yaml
omniisaacgymenvs/extension.py
omniisaacgymenvs/robots/articulations/carterv2.py
omniisaacgymenvs/robots/articulations/factory_franka.py
omniisaacgymenvs/robots/articulations/views/factory_franka_view.py
omniisaacgymenvs/tasks/cartpole_camera.py
omniisaacgymenvs/tasks/factory/
omniisaacgymenvs/tasks/franka_deformable.py
omniisaacgymenvs/tasks/target_following.py
omniisaacgymenvs/tasks/warp/
omniisaacgymenvs/tests/
omniisaacgymenvs/utils/rlgames/rlgames_train_mt.py
omniisaacgymenvs/views/
omniisaacgymenvs/task/fishing_rod_real_pos.py
omniisaacgymenvs/cfg/task/FishingRodPos.yaml
omniisaacgymenvs/cfg/train/FishingRodPosPPO.yaml
omniisaacgymenvs/FishingRodPos_X_000_pos_new_2_vel/
omniisaacgymenvs/FishingRodPos_X_001_pos_new_2_vel/
omniisaacgymenvs/tolopesca3/
omniisaacgymenvs/FishingRodPos_X_008_pos_new_2/
omniisaacgymenvs/FishingRodPos_X_009_pos_new_2_Kpiu/
omniisaacgymenvs/FishingRodPos_X_009_pos_new_2_Kpiu_MB/
